/* * {
    border: solid red 5px;
} */


body {
    margin: 0;

    font-family: Roboto, sans-serif;

    color: #F9FAF8;


}

/* Classes */

.distanceLR {
    margin: 0 7.5em 0 7.5em;
}



/* header stuff */

header {
    background-color: #1F2937;

}

    /* nav stuff*/

nav h1 {

    font-size: 24px;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;

    gap: 2em;

    font-size: 18px;
    color: #E5E7EB;
}

nav ul li {
    list-style: none;
}


    /* Hero stuff */

#heroSection {



    display: flex;
    align-items: center;
    justify-content: center;

    gap: 2.5em;

    padding: 5em 0;

}

#heroSectionLeft {
    max-width: 450px;
}

#heroTitle {
    font-size: 48px;
    font-weight: bold;

    margin: 0;
}

#heroPar {
    font-size: 18px;
    color: #e5e7eb;
}

#heroImage {
    width: 650px;
    height: auto;
}

#heroButton {
    background-color: #3882F6;
    color: #F9FAF8;
    border-style: none;
    border-radius: 5px;
    padding: 5px 30px;

    font-size: 18px;
}




/* Information Section stuff */


#informationSection {
    background-color: #F9FAF8;

}


#informationTitle {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
}


#infoCardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 4em;
}

.infoCard {
    border: solid #3882F6 5px;
    border-radius: 10px;

    aspect-ratio: 1;

    width: 150px;
    height: 150px;
}