body {
    margin: 0;

    font-family: Roboto, sans-serif;

    color: #F9FAF8;


}

/* header stuff */

header {
    background-color: #1F2937;

}

    /* nav stuff*/

nav h1 {

    font-size: 24px;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;

    gap: 2em;

    font-size: 18px;
    color: #E5E7EB;
}


    /* Hero stuff */

header section {
    display: flex;
}

#heroImage {
    width: 400px;
    height: auto;
}